*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Chelsea Market', cursive;
}
.header{
	background-image: url("../images/bg.jpg");
	background-size: cover;
	min-height: 60vh;
	
}
.header+i{
	display: none;
}
.header > div{
	min-height: 50vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.greetings{
	width: 50%;
	text-align: left;
	font-size: 30px;
	color: white;
}
.myName{
	text-align: center;
	background-color: gray;
	color: black;
	font-size: 3vw;
	width: 50%;
	mix-blend-mode: screen;
	padding: 15px 25px;
}
.myName > span{
	font-size: 10vw; 
	font-weight: bold;
}
/*CSS for navbar*/
nav{
	width: 100%;
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav ul{
	list-style-type: none;
}
nav ul li{
	display: inline;
	margin: 15px 2px;
	padding: 10px 20px;
	background-color: whitesmoke;
	mix-blend-mode: screen;

}
nav ul li a{
	text-decoration: none;
	color: black;
}
nav ul li:hover{
	background-color: gray;
}
/*End CSS for navbar*/

/*CSS for about section*/
.about{
	width: 100%;
	min-height: 40vh;
	background-color: #0e1114;
	color: white;
}
.about > div{
	width: 70%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.about > div > .about-left,.about > div > .about-right{
	width: 50%;
	padding: 25px;
}

.about > div > .about-left > h1,.about > div > .about-right > h1{
	margin-bottom: 25px;
}
/*End CSS for about section*/

/*CSS for Projects section*/
.projects{
	width: 100%;
	min-height: 100vh;
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.projects > div{
	width: 90%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: auto;
}
.proj{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.proj > div{
	width: 30%;
}

.proj > div > img{
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}
.proj > div{
	color: white;
	text-align: left;
}
.proj > div > p{
	margin: 15px 0px;
}
.btn{
	padding: 10px 15px;
	background-color: white;
	border: none;
}
/*CSS for Projects section*/

/*CSS for Skills section*/
.skills{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	background-color: #0e1114;
	color: white;
}
.skills > h1{
	font-size: 35px;
	margin-bottom: 25px;
}
.skills > div{
	max-width: 75%;
}
.skills > div >i{
	font-size: 50px;
	margin: 15px;
}
.contact{
	width: 100vw;
	height: 100vh;
    background-color: gray;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	color: white;
	padding: 25px;
}
.contact> h1{
	font-size: 35px;
	margin-bottom: 25px;
}
.contact> div{
	max-width: 90%;
}
.contact> div >i{
	font-size: 50px;
	margin: 15px;
}

@media only screen and (max-width: 770px){
	
	.header{
		height: 100px;
		padding: 0;
		margin: 0;
	}
	.header+i{
		
		position: absolute;
		top: 1;
		left: 1;
		margin: 5px;
		color: white;
		z-index: 1000;
	}
	.header> div{
		height: 70px;
		display: flex;
		width: 100%;	
	}
	.greetings{
		width: 50%;
		text-align: left;
		font-size: 15px;
	}
	.myName{
		text-align: center;
		font-size: 20px;
		width: 50%;
		mix-blend-mode: screen;
		padding: 15px 25px;
	}
	.myName > span{
		font-size: 20px; 
		font-weight: bold;
	}
	nav{
		height: 30px;
	}
	.about > div{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.about > div > .about-left,.about > div > .about-right{
		width: 100%;
	}
	.proj{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 25px 0;
	}
	.proj > div{
		width: 90%;
		margin: 25px;
	}

}

@media only screen and (max-width: 415px){
	nav{
		position: absolute;
		top: 0;
		height: auto;
		background-color: #0e1114;
		display: none;
		}
	nav ul{
		list-style-type: none;
		width: 90%;
	}
	nav ul li{
		display: block;
		margin: 15px 2px;
		padding: 5px 10px;
		width: 90%;
		background-color: whitesmoke;
	}
	nav ul li a{
		text-decoration: none;
		color: black;
		width: 90%;
	}
}